.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.about-content {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
  padding-top: -20px;
}

.about-logo{
    padding-top: 50px;
    align-items: center;
    padding-bottom: -50px;
}
.section-title{
    padding-top: 30px;

}

.team-section{
    padding-top: 20px;
}
