.services-section {
  padding: 4rem 0;
  background-color: #f8f9fa;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.service-card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.service-card img {
  height: 200px;
  max-height: 250px; /* You can adjust this value */
  object-fit: contain

  
}

.service-card .card-title {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
}
